/* TEXT */
.neutralText {
  color: gray;
}

/* BUTTONS */
.primaryBtn {
  background-color: lightgray;
  color: black;
}

.primaryBtn:hover {
  background-color: white;
  border: solid 1px lightgray;
}

.primaryBtn:active {
  background-color: gray;
}

/* LOGIN PAGE */
.loginPage {
  height: 100vh;
}

.loginWrapper {
  padding: 1rem;
  border: solid 1px lightgray;
  border-radius: .25rem;
}

/* MAIN NAV */
nav {
  padding: 1rem;
  border-bottom: solid 1px lightgray;
}

nav a {
  display: inline-block;
  margin: 0 1em;
}
