$primary_color: lightgray;
$primary_color_hover: white;
$primary_color_active: gray;

$secondary_color: #eeeeee;

$background_color: white;

$dark_text: black;
$neutral_text: gray;

/* TEXT */

.neutralText {
    color: $neutral_text;
}

/* BUTTONS */

.primaryBtn {
    background-color: $primary_color;
    color: $dark_text;
}

.primaryBtn:hover {
    background-color: $primary_color_hover;
    border: solid 1px $primary_color;
}

.primaryBtn:active {
    background-color: $primary_color_active;
}

/* LOGIN PAGE */

.loginPage {
    height: 100vh;
}

.loginWrapper {
    padding: 1rem;
    border: solid 1px $primary_color;
    border-radius: .25rem;
}

/* MAIN NAV */

nav {
    margin-right: 0 !important;
    padding: 1rem;
    border-bottom: solid 1px $primary_color;

    a {
        display: inline-block;
        margin: 0 1em;
    }

}

/* CHANNELS */

.channelMessageWrapper {
    margin-bottom: 5rem;
    padding: 0 1rem;
    background-color: $secondary_color;
    border-radius: .5em;

    .message {
        padding: .5rem;
        border-bottom: solid 1px $primary_color;

        .metaData {
            color: $neutral_text;
            font-size: .85rem;
        }
    }
}

/* MESSAGE SUBMIT FOOTER */

.messageFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: $background_color;
    border-top: solid 1px $primary_color;

}