{% extends "layout.html" %}

{% block title %}
	{{ channel_name }}
{% endblock %}

{% block main %}
	<div id="publicChannel" class="container-fluid">
		
		<h1 class="my-3">{{ channel_name }}</h1>

		<section id="channelMessages" class="channelMessageWrapper">
			{% for message in messages %}
				<div class="row message">
					<div class="col-10">
						{{ message.message }}
					</div><!--col-10-->
					<div class="col-2 text-right">
						<span class="metaData">{{ message.timestamp }} - {{ message.username }}</span>
					</div>
				</div><!--row-->
			{% endfor %}
		</section><!--channelMessageWrapper-->

		<div class="messageFooter">
			<form class="form-inline" id="messageForm">
				<fieldset>
					<input name="channelName" type="hidden" value="{{ channel_name }}">
					<input class="form-control" name="message" type="text" placeholder="Enter your message" required>
					<button class="btn primaryBtn form-control" type="submit">Submit</button>
				</fieldset>
			</form><!--#messageForm-->
		</div><!--messageFooter-->

	</div><!--container-fluid-->
{% endblock %}