{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block main %}

	<div id="index" class="container">

		{% if not session.username %}

			<div class="row justify-content-center loginPage">
				<div class="col-lg-6 align-self-center text-center">

					<h1 class="mb-4">Project2 - Flack</h1>

					<div class="loginWrapper">

						<form action="{{ url_for('index') }}" method="post">
							<fieldset>
								<div class="form-group">
									<input class="form-control" name="username" type="text" placeholder="Enter a username" required>
								</div><!--form-group-->
								<div class="form-group mb-0">
									<button class="form-control btn primaryBtn" type="submit">Submit</button>
								</div><!--form-group-->
							</fieldset>
						</form>

					</div><!--loginWrapper-->
				</div><!--col-lg-6-->
			</div><!--row-->

		{% else %}

			<div class="row">
				<div class="col">
					<form class="form-inline justify-content-end my-3" action="{{ url_for('put_channel') }}" method="post">
						<fieldset>
							<div class="form-group">
								<input class="form-control mr-1" name="channelName" type="text" placeholder="New Channel Name" required>
								<button class="btn primaryBtn form-control" type="submit">Create</button>
							</div><!--form-group-->
						</fieldset>
					</form><!--form-inline-->
				</div><!--col-->
			</div><!--row-->
			
			<table id="channelList" class="table">
				<thead>
					<tr>
						<th>Active Channels</th>
					</tr>
				</thead>
				<tbody>
				{% for channel in channels %}
					<tr>
						<td>
							<a href="{{ url_for('channel', channel_name=channel) }}">{{ channel }}</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table><!--table-->

		{% endif %}

	</div><!--#index-->

{% endblock %}