<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!--custom CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.min.css') }}">

		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>

		<main>
			{% block main %}{% endblock %}
		</main>

		<!--socket.io-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>

		<!--custom javascript-->
		<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

	</body>

</html>