{% extends "layout.html" %}

{% block title %}
	Project2 / Private Channel
{% endblock %}

{% block main %}
	<div id="privateChannel" class="container-fluid">
		
		<h1 class="my-3">Private Channel for {{ session.username }} & {{ other_user }}</h1>

		<section id="channelMessages" class="channelMessageWrapper">
			{% for message in messages %}
					<div class="row message">
						<div class="col-sm-12 col-md-8 col-xl-9">
							{{ message.message }}
						</div><!--col-->
						<div class="col-sm-12 col-md-4 col-xl-3 text-right">
							<span class="metaData">{{ message.username }} - {{ message.timestamp }}</span>
						</div><!--col-->
					</div><!--row-->
			{% endfor %}
		</section><!--channelMessageWrapper-->

		<div id="scrollPoint"></div>

		<div class="messageFooter">
			<form id="messageForm">
				<div class="row">
					<div class="col-xs-12 col-md-9 col-lg-10  col-xl-11 mb-1 px-2">
						<input name="otherUser" type="hidden" value="{{ other_user }}">
						<input class="form-control" name="message" type="text" placeholder="Enter your message" required>
					</div><!--col-11-->
					<div class="col-xs-12 col-md-3 col-lg-2 col-xl-1 px-2">
						<button class="btn primaryBtn form-control" type="submit">Submit</button>
					</div><!--col-1-->
				</div><!--row-->
			</form><!--#messageForm-->
		</div><!--messageFooter-->

	</div><!--container-fluid-->
{% endblock %}